:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #b3d1fe;
  --color-gray-dark: #2a2d43;
  --color-gray: #b3b3b3;
  --color-gray-light: #f4f4f5;
  --color-red: #d62828;

  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: var(--color-black);
  background-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  padding: 0;
  font: inherit;
  color: inherit;
  border-width: 0;
  background-color: transparent;
  cursor: pointer;
}

#app {
  width: 100%;
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 16px;
}

.vc-primary {
  --vc-accent-50: #eff6ff;
  --vc-accent-100: #dbeafe;
  --vc-accent-200: #e0edff;
  --vc-accent-300: #93c5fd;
  --vc-accent-400: #60a5fa;
  --vc-accent-500: #3b82f6;
  --vc-accent-600: var(--color-primary);
  --vc-accent-700: #1d4ed8;
  --vc-accent-800: #1e40af;
  --vc-accent-900: #1e3a8a;
  --vc-gray-500: #4d4d4d;
}
.vc-primary .vc-day-content.vc-primary {
  color: var(--color-black);
  font-weight: 400;
}
.vc-primary
  .vc-day:is(.weekday-1, .weekday-7):not(.is-not-in-month)
  .vc-day-content:not(.vc-disabled) {
  color: var(--color-red);
}
.vc-primary .vc-header .vc-title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
}
.vc-primary .vc-header .vc-title::first-letter {
  text-transform: capitalize;
}
.vc-primary .is-not-in-month :is(.vc-day-content, .vc-highlights),
.vc-primary .is-not-in-month .vc-highlights :is(.vc-day-layer, .vc-highlight) {
  opacity: 1;
  color: var(--color-gray);
}
.vc-day:not(.on-left):not(.on-right)
  > .vc-highlights.vc-day-layer
  > .vc-day-layer.vc-primary:nth-child(2) {
  opacity: 0;
}
